<.header>
  New Feed
  <:subtitle>Use this form to manage feed records in your database.</:subtitle>
</.header>

<.feed_form changeset={@changeset} action={~p"/feeds"} />

<.back navigate={~p"/feeds"}>Back to feeds</.back>
